<div class="blog-main">

    <div ng-show="posts" ng-repeat="post in posts" class="blog-post">
        <h2 class="blog-post-title"><a ui-sref="blogView({postId:post.id})">{{ post.title }}</a></h2>
        <p class="blog-post-meta">{{ toDate(post.created_timestamp) | date:'mediumDate' }}</p>

        <p>{{ post.content | limitTo: 200 }} <a ui-sref="blogView({postId:post.id})">...more</a></p>

    </div>

    <nav>
        <ul class="nav nav-pills">
            <li role="presentation" ng-show="page > 1"><a ui-sref="blog({'page':page - 1})">Previous</a></li>
            <li role="presentation" ng-show="page < pageCount"><a ui-sref="blog({'page':page + 1})">Next</a></li>
        </ul>
    </nav>

</div>