<?php

return [
    'mysql' => [
        'driver'   => 'pdo_mysql',
        'host'     => 'localhost',
        'username' => '',
        'password' => '',
        'dbname'   => '',
        'port'     => 3306
    ]
];
